#about
	
	%p

		This is a quick application I'm using to play around with Angular.js and Rails a bit more. I'm using Twitter's API to allow easy logging into the application.

	%div
		%div
			%h2= "Features"
			%ul

				%li= "Login via Twitter"
				%li= "Tweet"
				%li= "Search Tweets"
				%li= "Find most recent Tweets"
		%div		

			%h2= "Technology"
			%ul

				%li= "Rails 3.2.13"
				%li= "MongoDB"
				%li= "Twitter API / Omniauth"
				%li= "Pow Web Server (Local Development)"
				%li= "Yeoman.io"
				%li= "Compass"
				%li= "Coffee-Script"
				%li= "Angular.js"

#login
	
	%a{:href => login_url}
		
		%h1= "Login"	